body { background: #fafafa; }

h1 { font-size: 35px; text-align: center; }
h1:hover { color: red; background: yellow; }

.wrapper { width: 100%; height: auto; padding: 20px; background: #e6f840; }

.circle { width: 100px; height: 100px; background: red; border-radius: 50%; border: 1px solid #000; transition: 2s; }
.circle:hover { border-radius: 20%; transition: 2s; transform: rotate(190deg); }
