html{
    font-family: Source Sans Pro;
    font-size: 18px;

    background: red;
}
$bgColor: #36348E;
$fitchColor:  #FFC53A;

// 
.logo{
    width: 134px;
    height: 132px;
    padding: 23px;
    background: $bgColor;
    transition: 1s;
    &:hover{
        background: $fitchColor;
    }
}
.container{
    width: 100%;
    height: auto;
    display: flex;
}
.box {
width: 1200px;
    // 
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
// 
.headerContainer{
    color: #fff;
    background: #fff;
    height: 90px;
    
}
.headerBox {
    ul{
        display: flex;
        li{
            a{
                padding: 35px 15px;
                transition: 1s;
                color: #252525;
                &:hover:not(last-child){
                    background: $fitchColor;
                }
                .mobile{
                    font-weight: 600;
                }
            }
        }
    }


}
.headerNav {
    display: flex;
    align-items: center;
    .mobile {
        margin-left: 42px;
        font-weight: 600; 
    }
    select{
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
    }
}
.UALang {
}
.ENLang {
}
// 
.aboutStudyContainer{
    height: 900px;
    background: url(../images/backgroung/aboutStudy.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.aboutStudyBox{

}











// @media
@media (max-width: 920px ) {
    .headerContainer{
        height: 350px;
    }
    .headerBox{
        justify-content: space-evenly;
        align-items: center;
    }
    .headerNav{
        height: 350px;
        align-items: stretch;
        ul{
            flex-direction: column;
            justify-content: space-evenly;
            li{
                width: 250px;
                a,select{
                    margin: 0;
                    padding: 15px;


                }    
                .mobile{
                    margin: 0;
                }
            }
        }
    }
}
