html{
    font-family: Source Sans Pro;
    color: #fff;
    background: red;
}
$bgColor: #36348E;
$fitchColor:  #FFC53A;

// 
.logo{
    width: 134px;
    height: 132px;
    padding: 23px;
    background: $bgColor;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.box {
    width: 1200px;
    // 
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.headerBox{
    background:#fff;
    height: 90px;
}
.headerNav{
    display: flex;
    align-items: center;
    color: #252525;
    ul{
        width: 100%;
        display: flex;
        li{
            padding: 32px 15px;
            transition: 1s;
            &:hover{
                background: $fitchColor;
            }
        }

    }
}

