html{
    font-family: Source Sans Pro;
    font-size: 18px;

    color: #252525;
}
$bgColor: #36348E;
$fitchColor:  #FFC53A;

// 
.logo{
    width: 134px;
    height: 132px;
    padding: 23px;
    background: $bgColor;
    transition: 1s;
    position: relative;
    z-index: 1;
    &:hover{
        background: $fitchColor;
    }
}
.container{
    width: 100%;
    height: auto;
    display: flex;
}
.box {
width: 1200px;
    // 
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.form {
    padding: 65px;
    width: 550px;
    height: auto;
    background: #fff;
    h5{
        font-weight: bold;
        font-size: 20px;
        line-height: 150%;
        margin-bottom: 5px;
    }
    p{
        font-size: 18px;
        line-height: 150%;
        margin-bottom: 30px;

    }
    input{
        font-size: 16px;
        line-height: 150%;
        opacity: 0.5;
        width: 100%;
        padding: 23px ;
        margin-bottom: 10px;
        background: #FBFBFB;
    }
    .btn{
        background: $fitchColor;
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.03em;
        opacity: 1;
    }
    span{
        display: flex;
        align-items: center;
        opacity: 0.5;
        input{
            margin: 0;
            padding: 0;
            width: 15p;
            flex: 1;
        }
        p{
            margin: 0;
            font-size: 14px;
            line-height: 150%;
            width: 300px;
            flex: 9;
        }
        
    }
}

// 
.headerContainer{
    color: #fff;
    background: #fff;
    height: 90px;
    
}
.headerBox {
    ul{
        display: flex;
        li{
            a{
                padding: 35px 15px;
                transition: 1s;
                color: #252525;
                &:hover:not(last-child){
                    background: $fitchColor;
                }
                .mobile{
                    font-weight: 600;
                }
            }
        }
    }


}
.headerNav {
    display: flex;
    align-items: center;
    .mobile {
        margin-left: 42px;
        font-weight: 600; 
    }
    select{
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
    }
}
.UALang {
}
.ENLang {
}
// 
.aboutStudyContainer{
    height: 910px;
    background: $bgColor;
    .aboutStudy {
 
        height: 100%;
    }
    .leftBG {
        width: 70vw;
        background:url(../images/backgroung/aboutStudy.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .rightBG {
        width: 30vw;
        background:url(../images/backgroung/STUDY.png) left 100px center no-repeat;
    }
    .aboutStudyContent{
        position: absolute;
        height: 910px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
}
// 
.aboutStudyContent{
    flex-direction: row;
    padding: 160px 0;
}
.aboutStudyText {
    text-align: left;
    width: 60%;
    z-index: 1;
    margin-bottom: 162px;
    h1{
        font-weight: 900;
        font-size: 105px;
        line-height: 110%;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    &>p{
        font-size: 20px;
        line-height: 150%;
        margin-bottom: 70px;
    }
    .studyText__circles {
        display: flex;
        height: auto;
        align-items: center;
        .studyCircle {
            width: 87px;
            height: 87px;
            border-radius: 50%;
            border: solid 1px #fff;
            position: relative;
            background-position: cover;
            &:nth-child(1){
               background: url(../images/about/Ellipse1.jpg); 
            }
            &:nth-child(2){
               background: url(../images/about/Ellipse2.jpg); 
               right: 30px;
            }
            &:nth-child(3){
               background: url(../images/about/Ellipse3.jpg); 
               right: 60px;
            }
            &:nth-child(4){
                p{
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 150%;
                    color: #fff;
                    position: inherit;
                    padding: 25px;
                }
               background: $bgColor; 
               right: 90px;
            }
        }
        &>p{
            font-size: 18px;
            line-height: 130%;
            position: relative;
            right: 75px; 
        }
    }
}
.aboutStudyForm {
    position: absolute;
    right: 0;
}













// @media
@media (max-width: 920px ) {
    .headerContainer{
        height: 350px;
    }
    .headerBox{
        justify-content: space-evenly;
        align-items: center;
    }
    .headerNav{
        height: 350px;
        align-items: stretch;
        ul{
            flex-direction: column;
            justify-content: space-evenly;
            li{
                width: 250px;
                a,select{
                    margin: 0;
                    padding: 15px;


                }    
                .mobile{
                    margin: 0;
                }
            }
        }
    }
}
@media (max-width: 1200px) {
            .aboutStudyContent{
        flex-direction: column;
    .aboutStudyText{
        position: relative;
        margin-left: 20px;
        }
    .aboutStudyForm{
        position: relative;
        margin: 0 auto;
        border: 1px solid $bgColor;

        }
    }
}

